:root {
  --green-color: #dffe02;
  --white-color: #ffffff;
}

* {
  font-family: "Poppins", serif;
  /* border: var(--white-color) 2px solid; */
}

body {
  background-color: black;
}

.navbar-logo {
  width: 8.5rem;
}

.bg-green {
  background-color: var(--green-color);
}

.bg-drakBlue {
  background-color: #171c22;
}

.txt-green {
  color: var(--green-color);
}

.text-gray {
  color: #949798;
}

.mybtn {
  border: 0.1rem solid var(--green-color) !important;
  padding: 0.5rem 1.6rem;
}

.mybtn:hover {
  background-color: transparent;
  color: var(--green-color) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  widows: 2.2rem;
}

.nav-link {
  color: var(--white-color);
}

.hero-section {
  min-height: 88vh;
}

.image-contianer {
  width: 32rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border-top: 1rem solid var(--white-color);
  border-bottom: 1rem solid var(--white-color);
  background-image: url(../assests/images/profile.png);
  background-position: center;
  background-size: 115%;
  box-shadow: 0 0 1rem var(--white-color), inset 0 0 1rem var(--white-color),
    0 0 2rem var(--green-color), inset 0 0 2rem var(--green-color),
    0 0 7rem var(--green-color), inset 0 0 4rem var(--green-color);
}

h1 {
  font-size: 2rem;
  font-family: "Source Sans 3", serif;
}

p {
  font-size: 0.95rem;
  color: var(--white-color);
  /* Example usage */
}

param {
  max-width: 500px;
}

.main-txt {
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 2.8rem;
  }

  .image-contianer {
    width: 20rem;
  }

  .hero-section {
    min-height: 72vh;
  }
}