/* You can add global styles to this file, and also import other style files */
.rootColor{
    background-color: #dffe02;
}
.rootColor2{
    background-color: #898989;
}
.rootColor3{
    background-color: #171C22;
}
